<%= form_for @survey do |f| %>
  <div class="section-block">
    <div class="tab-content">
      <%= render partial: "survey_scores", locals: {f: f} %>
    </div>
    <div class="submit-btn">
      <div class='survey__button-container'>
        <%= link_to 'Previous', "javascript:;", class: 'survey__button', id: 'previous' %>
        <%= link_to 'Next', "javascript:;", class: 'survey__button', id: 'next' %>
        <%= f.submit 'Submit', class: 'survey__button survey__button--submit', id: 'submit' %>
      </div>
    </div>
    <div class='survey__navigation'>
      <% 8.times do |i| %>
        <div class='survey__navigation--bar' data-nav-index=<%=i%>></div>
      <% end %>
    </div>
  </div>
<% end %>