<%= f.fields_for :survey_scores do |survey_score| %>
  <% section = survey_score.object.section %>
  <% if section.id == 1 %>
    <div class="tab-pane active" id="section-<%= section.id %>">
  <% else %>
    <div class="tab-pane" id="section-<%= section.id %>">
  <% end %>
    <%= survey_score.hidden_field :section_id %>
    <%= survey_score.hidden_field :section_score, id: "section_score-#{section.id}" %>
    <p class="survey__meta-data--title">
      <%= section.name %> 
    </p>
    <% questions = section.questions.order(:in_order) %>
    <% questions.each do |question|%>
      <div class="single-question-block">
        <h4 class="singleQuestion" data-number=<%=trim(question.serial_number)%>>
          <%= question.question_title %>
        </h4>
        <div class='survey__answers'>
          <%= collection_radio_buttons(:answer,
                                 question.id,
                                 question.answers,
                                 :score_and_id,
                                 :answer_title,
                                 { prompt: true },
                                 { class: 'form-control survey_section_score', name: "question-#{question.id}"}) %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>